<header class="wrapper">
  <div class="header">
    <span class="header-text">Welcome to <a href="https://koji-makiyama.github.io/">Koji's Angular web-app<img class="angular-react-logo" src="../assets/resources/angular-logo.svg"></a>!</span>
    <hr>
    <span>My name is Alexander <u>Koji</u> Makiyama and I am a full stack developer 💻.</span>
    <h6>Email: <a href="mailto: alexanderkojimakiyama@gmail.com">alexanderkojimakiyama@gmail.com</a>
    </h6>
    <h6>Special thanks to <a href="https://pages.github.com/" target="_blank">GitHub Pages</a> for hosting my Angular
      web-app for free on their cloud server!</h6>
  </div>
</header>