<header>
  <div class="header-div">
    <span class="header-text">Welcome to <a href="https://koji-makiyama.github.io/">Koji's Angular website<img
          class="angular-react-logo" src='../assets/resources/angular-logo.svg' alt="angular-react-logo" /></a></span>
    <hr />
    <h6>I'm Alexander 'Koji' Makiyama, a full stack developer 💻</h6><br />

    <div class="nav-container">
      <div id="home-icon-container">
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"><img id="home-icon"
            src='../assets/resources/home.png' alt="home-icon" /><br />Home</a>
        <a routerLink="/contact-page" routerLinkActive="active" ariaCurrentWhenActive="page"></a>
      </div>

      <div id="demo-icon-container">
        <a routerLink="/demo" routerLinkActive="active" ariaCurrentWhenActive="page"><img id="demo-icon"
            src='../assets/resources/programming.png' alt="home-icon" /><br />Demo's</a>
        <a routerLink="/contact-page" routerLinkActive="active" ariaCurrentWhenActive="page"></a>
      </div>

      <div id="email-icon-container">
        <a routerLink="/contact-page" routerLinkActive="active" ariaCurrentWhenActive="page"><img id="email-icon"
            src='../assets/resources/email-icon.png' alt="email-icon" /><br />Contact</a>
        <a routerLink="/contact-page" routerLinkActive="active" ariaCurrentWhenActive="page"></a>
      </div>
    </div><br />

  </div>
</header>