<br />
<div class="footer-div">
    <ul>
        <li>
            <h5>Example Copyright Text 2023</h5>
        </li>
        <li><a href="https://github.com/Koji-Makiyama-React/Koji-Makiyama-React.github.io" target="_blank"
                rel="noreferrer">View this app's code
                on my Github page</a></li>
        <li>
            <h6>Logo copyright notice: I neither own or am affiliated with any of the
                companies
                whose logo's are displayed here. <br />I am simply using logos which are either in
                Creative Commons/Public Domain (<a
                    href="https://commons.wikimedia.org/wiki/File:Angular_full_color_logo.svg" target="_blank"
                    rel="noreferrer">Angular</a>,
                <a href="https://commons.wikimedia.org/wiki/File:React-icon.svg" target="_blank"
                    rel="noreferrer">React</a>,
                <a href="https://commons.wikimedia.org/wiki/File:Microsoft_.NET_logo.png" target="_blank"
                    rel="noreferrer">.NET</a>,
                <a href="https://commons.wikimedia.org/wiki/File:Microsoft_Azure_Logo.svg" target="_blank"
                    rel="noreferrer">Azure</a>,
                <a href="https://commons.wikimedia.org/wiki/File:Google_Cloud_logo.svg" target="_blank"
                    rel="noreferrer">GCP</a>)<br /> or are
                allowed
                with proper attribution (<a href="https://commons.wikimedia.org/wiki/File:MongoDB_Logo.svg"
                    target="_blank" rel="noreferrer">MongoDB, Inc.</a>).
                Because AWS has copyrights in place for their logo, I am filling the gap with a creative commons
                placeholder icon (<a
                    href="https://commons.wikimedia.org/wiki/File:010-smiling-face-with-smiling-eyes.svg"
                    target="_blank" rel="noreferrer">smiley</a>).
                <p>For reference, WIP means 'work in progress'.</p>

            </h6>
        </li>
        <li><a href="https://www.flaticon.com/free-icons/email" title="email icons" target="_blank"
                rel="noreferrer">Email icon created by Hilmy Abiyyu A. - Flaticon</a>
        </li>
        <li>
            <a href="https://www.flaticon.com/free-icons/home" title="home icons" target="_blank" rel="noreferrer">Home
                icon created by Pixel perfect - Flaticon</a>
        </li>
        <li>
            <a href="https://www.flaticon.com/free-icons/coding" title="coding icons" target="_blank"
                rel="noreferrer">Coding icon created by juicy_fish - Flaticon</a><br /><br />
        </li>
    </ul>
</div>