<div class="demo-container">
    <br />
    <div>Github Repository Links</div>
    <hr />
    <a href="https://github.com/Koji-Makiyama/Koji-Makiyama.github.io" target="_blank" rel="noreferrer">
        <img class="angular-react-logo" src='../assets/resources/angular-logo.svg' alt="angular-logo" />
        TS, Angular<br /></a><br />
    <a href="https://github.com/Koji-Makiyama-React/Koji-Makiyama-React.github.io" target="_blank" rel="noreferrer">
        <img class="react-spin angular-react-logo" src='../assets/resources/react-logo.svg' alt="react-logo" />
        TS, React<br /></a><br />
    <span>
        <img class="tech-logo" src='../assets/resources/microsoft-net-logo.svg' alt="dot-net-logo" />
        C & .NET (WIP)<br /></span><br />
    <a href="https://github.com/Koji-Makiyama/JavaBackendDemo" target="_blank" rel="noreferrer">
        <img class="mongo-azure-logo" src='../assets/resources/mongo-db-logo.svg' alt="mongodb-logo" />
        Java, Spring, MySQL, NoSQL (WIP)<br /></a><br />
    <span>
        <img class="tech-logo" src='../assets/resources/smiley-placeholder.svg' alt="placeholder-logo" />
        AWS (WIP)<br /></span><br />
    <span>
        <img class="mongo-azure-logo" src='../assets/resources/microsoft-azure-logo.svg' alt="azure-logo" />
        Azure Cloud, AKS (WIP)<br /></span><br />
    <p>
        <img class="tech-logo" src='../assets/resources/google-cloud-icon.svg' alt="gcp-logo" />
        GCP (WIP)</p>
        <hr />
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br class="small-br"/>
<br class="small-br"/>
<br class="small-br"/>
<br class="small-br"/>
<br class="small-br"/>
<br class="small-br"/>
<br class="small-br"/>
<br class="smallest-br"/>
<br class="smallest-br"/>