.contact-container { // this is the body
    padding: 0px;
    padding-bottom: 145px;
}

#name-div {
    width: 50%;
    display: inline-block;
    input {
        width: 80%;
    }
}

#email-div {
    width: 50%;
    display: inline-block;
    input {
        width: 80%;
    }
}

#subject-div {
    width: 50%;
    display: inline-block;
    input {
        width: 80%;
    }
}

#phone-div {
    width: 50%;
    display: inline-block;
    input {
        width: 80%;
    }
}

#message-div {
    width: 100%;
    textarea {
        height: 60px;
        width: 280px;
        max-width: 80%;
    }
}

#submit-div {
    width: 100%;
}

#form {
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    background-color: rgb(235, 235, 235);
    border: 5px solid rgb(255, 255, 255);
}

#name-email-container {
    width: 100%;
}

#subject-phone-container {
    width: 100%;
}

@media screen and (min-width: 281px) {
    .smallest-br {
        display: none;
    }
}