<div class="contact-container">
<br />
<form id="form">

    <br />
    <div id="name-email-container">
        <div id="name-div">
            Name* <br/><input />
        </div>
        <div id="email-div">
            Email* <br/><input />
        </div>
    </div>
    <br />

    <div id="subject-phone-container">
        <div id="subject-div">
            Subject* <br/><input />
        </div>
        <div id="phone-div">
            Phone* <br/><input />
        </div>
    </div>

    <br />
    <div id="message-div">
        Write your message here* <br/><textarea></textarea>
    </div>

    <br />
    <div id="phone-div">
        5 + 6 = ? 
        <br />spam control question* <br/><input />
    </div>

    <br />
    <div id="submit-div">
        <br />
        <button>
            Submit
        </button>
    </div>
    <br />

</form>
</div>
<br class="smallest-br"/>
<br class="smallest-br"/>