/* You can add global styles to this file, and also import other style files */
html {
    zoom: 200%;
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(84, 158, 0);
}