<div class="home-container">
    <br />
<div class="mobile-img-container">
    <img class="mobile-picture" src='../assets/resources/profile_1.jpg' alt="profile" />
    <br />
</div>

<div class="img-container-wrapper">
    <div class="img-container">
        <img class="profile-picture" src='../assets/resources/profile_1.jpg' alt="profile" />
    </div>
    <div class="icon-container">
        <br />
        <a href="https://koji-makiyama-react.github.io/"><img class="react-spin" id="react-logo-container"
                src='../assets/resources/react-logo.svg' alt="react-logo" /></a>
        <br /><a href="https://koji-makiyama-react.github.io/">React website</a><br /><br />

        <div>
            <a href='../assets/resources/MakiyamaMay2023.pdf' download><img class="angular-react-logo" id="resume-icon"
                    src='../assets/resources/adobe-pdf-file-icon.png' alt="adobe-pdf-logo" /></a>
            <br /><a href='../assets/resources/MakiyamaMay2023.pdf' download>Resume</a><br /><br />
        </div>

        <div>
            <a href='https://www.linkedin.com/in/alexander-koji-makiyama-842535224/' target="_blank"
                rel="noreferrer"><img id="linkedin-logo" src='../assets/resources/linkedin-logo.png'
                    alt="linkedin-logo" /></a><br /><br />
        </div>

        <div>
            <a href='https://github.com/Koji-Makiyama' target="_blank" rel="noreferrer"><img id="github-logo"
                    src='../assets/resources/github-logo.png' alt="github-logo" /></a>
        </div>

        <br />
    </div>
</div>
</div>
<br class="smallest-br" />
<br class="small-br" />