hr {
    width: 40%;
    margin: 0 auto;
}

ul {
    padding: 0px;
    margin: 0px;
}

li {
    text-align: center;
    list-style: none;
}

.profile-picture {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%;
    height: 203px;
}

.mobile-picture {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 50%;
    height: 50%;
    margin-left: 40px;
    margin-right: 40px;
}

.mobile-img-container {
    margin: auto;
}

@media screen and (min-width: 767px) {
    .mobile-img-container {
        display: none;
    }
}

@media screen and (max-width: 767px) {

    .profile-picture,
    .img-container {
        display: none;
    }
}

#p-red {
    color: red;
}

#span-green {
    color: green;
}

#span-grey {
    color: blue;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    height: 45px;
    border-radius: 10px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0px 5px 20px rgb(232, 245, 156);
}

.header-text {
    display: block;
    margin: 3px;
}

embed {
    width: 100%;
    height: 100vw;
}

.header {
    padding-bottom: 10px;
    border-radius: 10px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0px 5px 20px rgb(232, 245, 156);
    background-color: white;
}

@media screen and (min-width: 767px) {
    .img-container-wrapper {
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.img-container {
    width: 18%;
    max-height: 203px;
    margin: auto;
    border-radius: 15px;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0px 6px 20px rgb(232, 245, 156);
}

@media screen and (min-width: 767px) {
    .text-container {
        width: 70%;
        height: 293px;
        margin: auto;
        border-radius: 15px;
        border: 5px solid rgb(255, 255, 255);
        box-shadow: 0px 5px 20px rgb(232, 245, 156);
        background-color: white;
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .text-container {
        width: 70%;
        height: 223px;
        margin: auto;
        border-radius: 15px;
        border: 5px solid rgb(255, 255, 255);
        box-shadow: 0px 5px 20px rgb(232, 245, 156);
        background-color: white;
        text-align: center;
    }
}

.img-container:hover {
    // transform: translateY(-3px);
}

.wrapper {
    margin-right: 10px;
}