<div class="mobile-img-container">
    <img class="mobile-picture" src="../assets/resources/profile_1.jpg" alt="profile-picture">
    <br>
</div>

<div class="img-container-wrapper">
    <div class="img-container">
        <img class="profile-picture" src="../assets/resources/profile_1.jpg" alt="profile-picture">
    </div>
    <div class="text-container">
        <p>Click <a href="">here</a> (under construction) for the React <img class="react-spin"
                id="react-logo" src="../assets/resources/react-logo.svg"> version of this website!</p>
        <p id="span-orange">Click <a href="#resume-section" target="_blank">here</a> to view my resume (new tab).</p>
        <p id="span-green">Click <a href="https://www.linkedin.com/in/alexander-koji-makiyama-842535224/"
                target="_blank">here
            </a>to visit my LinkedIn profile (new tab)</p>
        <p id="span-grey">Click <a href="https://github.com/Koji-Makiyama" target="_blank">here
            </a>to visit my GitHub profile (new tab)<br><br></p>
    </div>
</div>
<br>

<div class="demo-container">
    <div id="div-purple"><br>My Demo's (Github Repositories)</div>
    <hr>
    <a href="https://github.com/Koji-Makiyama/Koji-Makiyama.github.io" target="_blank">
        <img class="tech-logo" src="../assets/resources/angular-logo.svg">
        TypeScript & Angular framework demo<br></a><br>
    <a href="https://github.com/Koji-Makiyama/Koji-Makiyama-React" target="_blank">
        <img class="react-spin" id="react-logo" src="../assets/resources/react-logo.svg">
        TypeScript & React framework demo (WIP)<br></a><br>
    <a target="_blank">
        <img class="tech-logo" id="net-logo" src="../assets/resources/microsoft-net-logo.svg">
        C & .NET framework demo (WIP)<br></a><br>
    <a href="https://github.com/Koji-Makiyama/JavaBackendDemo" target="_blank">
        <img class="tech-logo" src="../assets/resources/mongo-db-logo.svg">
        Java, Spring, and MySQL/NoSQL demo (WIP)<br></a><br>
    <a target="_blank">
        <img class="tech-logo" src="../assets/resources/smiley-placeholder.svg">
        AWS (Amazon Web Services) demo (WIP)<br></a><br>
    <a target="_blank">
        <img class="tech-logo" src="../assets/resources/microsoft-azure-logo.svg">
        Azure Cloud & AKS (Microsoft) demo (WIP)<br></a><br>
    <a target="_blank" class="last-anchor">
        <img class="tech-logo" src="../assets/resources/google-cloud-icon.svg">
        GCP (Google Cloud Platform) demo (WIP)<p></p>
        <hr>
    </a>

</div>
<br>
<section class="pdf-container" id="resume-section">
    <object data="../assets/resources/MakiyamaMay2023.pdf"></object>
</section>
<br>
<div class="footer">
    <ul>
        <li>Example Copyright Text 2023</li>
        <li><a href="https://github.com/Koji-Makiyama/Koji-Makiyama.github.io" target="_blank">View this app's code
                on my Github page</a></li>
        <li>
            <p>Logo copyright notice: I neither own or am affiliated with any of the companies
                whose logo's are displayed here. I am simply using logos which are either in
                Creative Commons/Public Domain (
                <a href="https://commons.wikimedia.org/wiki/File:Angular_full_color_logo.svg"
                    target="_blank">Angular</a>,
                <a href="https://commons.wikimedia.org/wiki/File:React-icon.svg" target="_blank">React</a>,
                <a href="https://commons.wikimedia.org/wiki/File:Microsoft_.NET_logo.png" target="_blank">.NET</a>,
                <a href="https://commons.wikimedia.org/wiki/File:Microsoft_Azure_Logo.svg" target="_blank">Azure</a>,
                <a href="https://commons.wikimedia.org/wiki/File:Google_Cloud_logo.svg" target="_blank">GCP</a>) or are
                allowed
                with proper attribution (
                <a href="https://commons.wikimedia.org/wiki/File:MongoDB_Logo.svg" target="_blank">MongoDB, Inc.</a>).
                Because AWS has copyrights in place for their logo, I am filling the gap with a creative commons
                <a href="https://commons.wikimedia.org/wiki/File:010-smiling-face-with-smiling-eyes.svg"
                    target="_blank">smiley</a>.
                <span>For reference, WIP refers to 'work in progress'.</span>
            </p>
        </li>
    </ul>
</div>